
body {
    background: linear-gradient(rgba(0,0,50,0.5),rgba(0, 0, 50, 0.5)),url(h31.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: Segoe Print; 
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  
  width: 100%;
  padding: 20px;
}



 h2 {
  
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.login-box{
    max-width: 1000px;
    float: none;
    margin: 150px auto; 
    border-color: #dcedff;

}

label{
  color: #f2f2f2;
}



*[role="form"] {
  max-width: 530px;
  padding: 15px;
  margin: 0 auto;
  border-radius: 0.3em;
  background-color: transparent;
}

*[role="form"] h2 { 
  font-family: 'Open Sans' , sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: white;
  margin-top: 5%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}